body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 0 0 0 ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar-brand{
  font-weight: bold;
}
 .active .page-link {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
    color: white !important;
  }

.page-item a:hover{
  background-color: #dc3545;
  color: white !important
  
}

.list-group-item{
  font-weight: bold;
}
.list-group-item.active {
  background-color: #dc3545 !important;
  color: white !important;
  border-color: #dc3545 !important;
}

.page-link{
  color: #495057 !important;
}

.list-group li:hover{
  background-color: #dc3545;
  color: white;

}

.navbar{
  margin-bottom: 30px;
}
.clickable{
  cursor: pointer;
}
